# Eclipse worskpace files
/.metadata/
*.lock
*.log

# Eclipse project files

# KDS files
*.g_c
*.g_x
*.launch
*.cwGeneratedFileSetLog
ProjectInfo.xml

# KDS folders
Debug/
Documentation/
Generated_Code/

# C/C++ compiled files
*.mk
*.o
*.elf

# Miscellaneous
*.bak



